#mainContainer{
    width: 500px;
    height: 500px;
    border: solid 15px black;
    margin: 120px auto;
}

#subcontainer1{
    width: 105px;
    height: 370px;
}

#subcontainer2{
    float: left;
}

.long{
    width: 105px;
    height: 180px;
}

.float{
    float: left;
}

.white{
    background-color:white;   
}

.borderBottom{
    border-bottom: 10px solid black;
}

.borderRight{
    border-right: 10px solid black;
}

.red{
    background-color: red;
    width: 385px;
    height: 370px;
}

.blue{
    background-color:blue;
    width: 105px;
    height: 120px;
}

.wide{
    height: 120px;
    width: 310px;
}

.small{
    height: 55px;
    width: 65px;

}

.blackContainer{
    width: 500px;
    height: 10px;
    clear:both;
    background-color:black;
}

.yellow{
    background-color: yellow;
}